:root {
    /* text colors */
    --color--txt-black-primary: #222222;
    --color--txt-black-secondary: #474747;
    --color--txt-gray-primary: #5C5C5C;
    --color--txt-gray-secondary: #999999;
    --color--txt-green: #1BDA9D;
    --color--txt-orange: #FF8346;
    --color--txt-red: #FE4848;
    --color--txt-white: #FFFFFF;
    /* status colors */
    --color--status-red: #E14165;
    --color--status-pink-primary: #8686FF;
    --color--status-pink-secondary: #C2C2FF;
    /* bg colors */
    --color--bg-main: #FAFAFA;
    --color--bg-white: #FFFFFF;
    /* stroke colors */
    --color--stroke-main: #EBEBEB;
}